<button class="back" mat-icon-button (click)="onBack()">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<h2 mat-dialog-title class="title">Poster une annonce</h2>
<form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="creation-form">
    <mat-form-field class="creation-form-field">
      <mat-select placeholder="Catégorie" formControlName="category" required>
        <mat-option *ngFor="let option of options" [value]="capitalize(categories[option])">
          {{ capitalize(categories[option]) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="creation-form-field">
      <input matInput placeholder="Titre" formControlName="title" required>
    </mat-form-field>
    <mat-form-field class="creation-form-field">
      <textarea matInput class="description" placeholder="Description" formControlName="description" required></textarea>
    </mat-form-field>
    <div class="image-upload">
      <input type="file" ng2FileSelect [uploader]="uploader" />
      <button mat-button color="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
    </div>
    <mat-form-field class="creation-form-field">
      <input matInput placeholder="Adresse" formControlName="address" [value]="data.getUser().address" required>
    </mat-form-field>
    <mat-form-field class="creation-form-field">
      <input matInput placeholder="Numéro de Tél" formControlName="phone" [value]="data.getUser().phone" required>
    </mat-form-field>
    <mat-form-field class="creation-form-field">
      <mat-select placeholder="Disponibilité" formControlName="availability" required>
        <mat-option value="Dès aujourd'hui">Dès aujourd'hui</mat-option>
        <mat-option value="Dans les jours à venir">Dans les jours à venir</mat-option>
        <mat-option value="Dans les semaines à venir">Dans les semaines à venir</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button color="primary" type="submit">Poster</button>
  </mat-dialog-content>
</form>