<mat-card (click)="onClick()">
  <img mat-card-image src="{{item.photo}}">
  <mat-card-title>
    <span class="mat-headline">{{ item.title }}</span>
  </mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-icon class="item-content-btn"> location_on </mat-icon>
        <p> {{ item.location }} km </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon class="item-content-btn"> access_time </mat-icon>
        <p> {{ availability }} </p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>