<p class="empty" *ngIf="isOffersEmpty()">Vous n'avez reçu aucune offre pour vos articles</p>
<mat-list *ngIf="!isOffersEmpty()">
  <div *ngFor="let option of options">
    <h3 mat-subheader>{{status[option]}}</h3>
    <mat-list-item *ngFor="let offer of data.getOffersByStatus(option)">
      <mat-icon mat-list-icon (click)="onClickOffer(offer)">{{data.getCategoryIcon(offer.category)}}</mat-icon>
      <h4 mat-line (click)="onClickOffer(offer)">{{offer.title}}</h4>
      <p mat-line (click)="onClickOffer(offer)"> {{offer.creation_date | date}} </p>
      <button mat-icon-button color="primary" (click)="onClickPeople(offer)" matTooltip="Personnes intéressées" matTooltipPosition="above">
        <mat-icon>people</mat-icon>
      </button>
      <button mat-icon-button color="link" (click)="onClickDelete(offer)" matTooltip="Retirer l'article" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>