<mat-dialog-content class="item-dialog">
    <img class="image" mat-card-image src="{{item.photo}}">
    <button mat-fab color="primary" class="item-book-btn" (click)="onClick()">
      <mat-icon>done</mat-icon>
    </button>
    <mat-card-title>
      <span class="mat-headline">{{ item.title }}</span>
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-icon class="item-filter"> label_outline </mat-icon>
          <p> {{ capitalize(item.category) }} </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon class="item-filter"> location_on </mat-icon>
          <p> 0 km </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon class="item-filter"> access_time </mat-icon>
          <p> {{ item.availability }} </p>
        </mat-grid-tile>
      </mat-grid-list>
      <p> {{ item.description }} </p>
      <img class="item-map" src="{{'https://maps.googleapis.com/maps/api/staticmap?center=' + item.gps + '&zoom=16&size=480x300&path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R'}}">
    </mat-card-content>
</mat-dialog-content>