<mat-dialog-content>
  <button class="back" mat-icon-button (click)="onBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <mat-list>
    <mat-list-item *ngFor="let person of people">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h4 mat-line>{{person.firstname + ' ' + person.lastname}}</h4>
      <p mat-line> {{person.date | date}} </p>
      <button mat-icon-button color="link" matTooltip="Chatter avec le demandeur" matTooltipPosition="above">
        <mat-icon>chat</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-dialog-content>