<mat-toolbar color="primary">
  <button mat-button>LOGO</button>
  <mat-icon class="menu-icon">search</mat-icon>
  <input class="menu-search" placeholder="Chercher ici !">

  <span class="menu-spacer"></span>

  <button mat-button>Mes Offres</button>
  <button mat-button>Mes Demandes</button>
  <button mat-button>Aide</button>
  <button mat-button [matMenuTriggerFor]="profile">
    <mat-icon> person </mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>