<mat-toolbar color="primary">
  <button mat-button>LOGO</button>
  <button mat-icon-button class="menu-btn" (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
  <input class="menu-search" placeholder="Chercher ici !" (keyup.enter)="onSearch()" [(ngModel)]="search">
  <button mat-icon-button class="menu-btn" (click)="onFilter()">
    <mat-icon>filter_list</mat-icon>
  </button>

  <span class="menu-spacer"></span>

  <button mat-button>Aide</button>
  <button mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()"> Log In </button>
  <app-menu-auth *ngIf="auth.isAuthenticated()"></app-menu-auth>
</mat-toolbar>